[submodule "src/engine"]
	path = src/engine
	url = https://github.com/Mr-222/render-engine.git
	branch = master
[submodule "src/AMGPCG_Pybind_Torch"]
	path = src/AMGPCG_Pybind_Torch
	url = https://github.com/RWBY-Aloupeep/AMGPCG_Pybind
